* {
    margin: 0;
    padding: 0;
    font-family: 'Josefin Sans';
    -webkit-tap-highlight-color: transparent;
}

/* josefin-sans-regular */

@font-face {
    font-family: 'Josefin Sans';
    font-style: normal;
    font-weight: normal;
    src: url('//lib.baomitu.com/fonts/josefin-sans/josefin-sans-regular.eot');
    /* IE9 Compat Modes */
    src: local('Josefin Sans'), local('JosefinSans-Normal'), url('//lib.baomitu.com/fonts/josefin-sans/josefin-sans-regular.eot?#iefix') format('embedded-opentype'),
        /* IE6-IE8 */
        url('//lib.baomitu.com/fonts/josefin-sans/josefin-sans-regular.woff2') format('woff2'),
        /* Super Modern Browsers */
        url('//lib.baomitu.com/fonts/josefin-sans/josefin-sans-regular.woff') format('woff'),
        /* Modern Browsers */
        url('//lib.baomitu.com/fonts/josefin-sans/josefin-sans-regular.ttf') format('truetype'),
        /* Safari, Android, iOS */
        url('//lib.baomitu.com/fonts/josefin-sans/josefin-sans-regular.svg#JosefinSans') format('svg');
    /* Legacy iOS */
}

/* pt-sans-regular */

@font-face {
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: normal;
    src: url('//lib.baomitu.com/fonts/pt-sans/pt-sans-regular.eot');
    /* IE9 Compat Modes */
    src: local('PT Sans'), local('PTSans-Normal'), url('//lib.baomitu.com/fonts/pt-sans/pt-sans-regular.eot?#iefix') format('embedded-opentype'),
        /* IE6-IE8 */
        url('//lib.baomitu.com/fonts/pt-sans/pt-sans-regular.woff2') format('woff2'),
        /* Super Modern Browsers */
        url('//lib.baomitu.com/fonts/pt-sans/pt-sans-regular.woff') format('woff'),
        /* Modern Browsers */
        url('//lib.baomitu.com/fonts/pt-sans/pt-sans-regular.ttf') format('truetype'),
        /* Safari, Android, iOS */
        url('//lib.baomitu.com/fonts/pt-sans/pt-sans-regular.svg#PTSans') format('svg');
    /* Legacy iOS */
}

h1 {
    font-size: 250%;
}

.maxViewPort {
    min-height: 100vh;
    max-height: 100vh;
    height: 100vh;
    min-height: 100svh;
    max-height: 100svh;
    height: 100svh;
    min-height: 100dvh;
    max-height: 100dvh;
    height: 100dvh;
    min-width: 100vw;
    max-width: 100vw;
    width: 100vw;
}

.basePart {
    min-width: 100vw;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
}

.childPart {
    max-width: calc(512px - 24px);
    width: calc(90vw - 24px);
    border-radius: 12px;
    padding: 12px;
}

.greyBackground {
    background-color: #e3e3e361;
}

.basePart>:not(:first-child) {
    margin-top: 8px;
}

.headingPart {
    margin-top: 8px;
    padding: 16px 0;
}

.shadowBackground {
    box-shadow: none;
    transition: ease-in-out box-shadow 0.234s;
}

.shadowBackground:hover {
    box-shadow: 0 0 14px 3px #ffffff;
    transition: ease-in-out box-shadow 0.234s;
}

.warningWindow p {
    margin-top: 4px;
}

.warningWindow a {
    color: #000000;
}

.warningWindow {
    color: #000000;
}

.closeButtom {
    height: fit-content;
    width: 100%;
    background-color: #ffffff;
    padding: 8px;
    padding-bottom: 6px;
    color: #000;
    border-radius: 16px;
    text-align: center;
    margin-top: 8px;
    cursor: pointer;
    box-shadow: none;
    transition: ease-in-out box-shadow 0.234s;
}

.closeButtom:hover {
    box-shadow: 0 0 10px 1px #fff;
    transition: ease-in-out box-shadow 0.234s;
}

.searchInput {
    min-height: 1em;
    border-radius: 24px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    cursor: text;
}

#searchInput {
    display: block;
    background: none;
    outline: none;
    border: none;
    width: 100%;
    height: 1.1em;
    margin-top: 0.1em;
}

#searchInput ::placeholder {
    font-size: larger;
}


.searchInput form {
    width: 90%;
}

.searchbuttom {
    text-align: center;
    display: block;
    height: 100%;
    width: 10%;
    color: #777;
    cursor: pointer;
    user-select: none;
}

#selectSearchEngine {
    border: none;
    outline: none;
    background: none;
    color: #6e6e6e;
    text-transform: capitalize;
    height: 1.2em;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    padding: 0 6px;
    user-select: none;
    width: fit-content;
    font-weight: bolder;
    cursor: pointer;
}

#selectSearchEngine option {
    background-color: #9e9e9e;
    color: #fff;
    border: none;
    outline: none;
}

.searchIcon {
    cursor: pointer;
    max-width: 100%;
    max-height: 227px;
    margin: 0;
    padding: 0;
    height: 1em;
    position: relative;
    bottom: 0;
    display: block;
}

.blurBackdrop {
    backdrop-filter: blur(10px);
}

body {
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.backgroundBar {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    margin: 8px 0;
}

.backgroundBar div {
    padding: 10px;
    padding-bottom: 8px;
    border-radius: 114514px;
    margin: 0;
    text-align: center;
    cursor: pointer;
    user-select: none;
}

.resetBackground {
    background-color: #840D23;
    color: #fff;
    width: 3em;
    backdrop-filter: blur(8px);
}

.setBackground {
    background-color: #ffffff8a;
    width: calc(100% - 6em);
}

.footer {
    text-align: center;
    position: fixed;
    bottom: 0;
    margin-bottom: 16px;
}